.godot/
*.translation
.vs/
bin/Debug/
bin/Release/
obj/
*.slnLaunch.user
*.user
*.suo
*.userosscache
*.sln.docstates
/android/
addons/ffmpeg/win64/~libgdffmpeg.windows.template_debug.x86_64.dll
addons/ffmpeg/**/~*.dll
addons/ffmpeg/**/~*.dll~*
addons/ffmpeg/**/~*.TMP
addons/ffmpeg/**/~*.tmp
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride
*~
*.swp
*.swo
*.bak
*.orig
/builds/
/dist/
/exports/
HANDOFF.md
export_presets.cfg
